<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comp3350">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Thrive"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Comp3350">
        <activity android:name=".UI.viewBloodOptimizer"></activity>
        <activity android:name=".UI.MainActivity" />
        <activity android:name=".UI.RegisterActivity" />
        <activity android:name=".UI.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.WorkoutSuggestion" />
        <activity android:name=".UI.viewWorkoutSuggestion" />
        <activity android:name=".UI.GenderSelection" />
        <activity android:name=".UI.BloodInformation" />
    </application>

</manifest>