<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.comp3350">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Comp3350">
        <activity android:name="com.comp3350.UI.WellnessResult"/>
        <activity android:name="com.comp3350.UI.WellnessCalculator"/>
        <activity android:name="com.comp3350.UI.MainActivity" />
        <activity android:name="com.comp3350.UI.RegisterActivity" />
        <activity android:name="com.comp3350.UI.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.comp3350.UI.WorkoutSuggestion" />
        <activity android:name="com.comp3350.UI.ViewPDF" />
    </application>

</manifest>